//-------------- DEFAULT WORDPRESS STYLES ----------------//
.screen-reader-text {
    position : absolute;
    left     : -9999px;
    top      : -9999px;
}
.clear {
    clear : both;
}
.group:after {
    visibility : hidden;
    display    : block;
    font-size  : 0;
    content    : " ";
    clear      : both;
    height     : 0;
}
* HTML .group, *:first-child + HTML .group {
    zoom : 1;
}
.alignleft {
    @include wp-left();
}
.alignright {
    @include wp-right();
}
.aligncenter {
    @include wp-center();
}