$small-mobile : new-breakpoint(max-width 320px 4);
$mobile       : new-breakpoint(min-width 320px 4);
$tablet       : new-breakpoint(min-width 600px 12);
$tablet-big   : new-breakpoint(min-width 750px 12);
$desktop      : new-breakpoint(min-width 1025px 12);
$fullscreen   : new-breakpoint(min-width 1500px 12);

#wrapper {
    //@include outer-container;
}
.innerContainer {
    padding   : 0 1em;
    width     : 100%;
    max-width : 90em;
    margin    : 0 auto;
}
.inner-page {
    width     : 100%;
    max-width : 64rem;
    margin    : 0 auto;
}